@import "tailwindcss";

.container {
  width: 100%;
  /* sm */
  @media (width >= 40rem) {
    max-width: 40rem;
  }
  /* md */
  @media (width >= 48rem) {
    max-width: 48rem;
  }
  /* lg */
  @media (width >= 64rem) {
    max-width: 64rem;
  }
  /* xl */
  @media (width >= 80rem) {
    max-width: 80rem;
  }
  /* 2xl */
  @media (width >= 96rem) {
    max-width: 105rem;
  }
}

@utility container {
  margin: 0 auto;
  padding: 0 0.5rem;
  @media (width >= 40rem) {
    padding: 0 1rem;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

@theme {
  --font-serif: 'Judson', serif;
  --font-sans: 'Inter', sans-serif;
  --color-vermelho: #710404;
  --color-amarelo: #F9AC05;
  --color-amarelo-escuro: #FFBE31;
  --color-vermelho-claro: #FF4D4D;

  --color-light: #FFFFFF;
  --color-dark: #252222;
}

@custom-variant dark (&:where(.dark, .dark *));